body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    font-size: 40px;
}
a:link{
    text-decoration: none;
    color: rgb(60, 60, 226);

}
a:visited{
    text-decoration: none;
    color: rgb(60, 60, 226);
}
a:hover{
    font-size: larger;
    color: rgb(223, 226, 60);
    text-decoration:underline;
}

.headingmerah {
    color: red;
}

.partratakanan{
    text-align: right;
}

.partratatengah{
    text-align: center;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 250px;
  }